<!DOCTYPE html>
<!--headTrap<body></body><head></head><html></html>-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <script>
        var GSTS = new Date();
    </script>
    <link rel="shortcut icon" href="//combo.b.qq.com/qidian_store/src/themes/default/fav.ico" type="image/x-icon" />
    <script type="text/javascript">
        function isMobileUserAgent() {
            return (/iphone|ipod|android.*mobile|windows.*phone|blackberry.*mobile/i.test(window.navigator.userAgent.toLowerCase()));
        }
        if (isMobileUserAgent()) {
            window.location.href = "http://m.qidian.qq.com" + window.location.pathname + window.location.search;
        }
    </script>
    <title>腾讯企点价格_企点分析价格-腾讯企点</title>
    <meta name="keywords" content="腾讯企点价格,企点分析价格">
    <meta name="descriptions" content="您可通过License数量查看对应的腾讯企点价格、客户库上限，企点分析以单个License数为资费标准。">
    <link type="text/css" href="//bqq.gtimg.com/qdweb/css/main.css?v=20170427" rel="stylesheet" />
    <!-- <link type="text/css" href="../static/css/main.css?v=20170622" rel="stylesheet" /> -->
    <link type="text/css" href="//bqq.gtimg.com/qdweb/css/price.css?v=20170622" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="//bqq.gtimg.com/qdweb/js/respond.min.js" type="text/javascript"></script>
    <script src="//bqq.gtimg.com/qdweb/js/html5shiv.min.js" type="text/javascript"></script>
    <link href="//bqq.gtimg.com/qdweb/respond/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
    <link href="/marketing/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" >
    <script type="text/javascript" src="//bqq.gtimg.com/qdweb/respond/respond.proxy.js">
    </script>
    <![endif]-->
    <script src="//wp.qiye.qq.com/loader/4.1.0.js" charset="utf-8"></script>
    <!-- Gridsum tracking code begin. -->
    <script type='text/javascript'>
        var _gsq = _gsq || [];
        (function() {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = (location.protocol == 'https:' ? 'https://ssl.' : 'http://static.') + 'gridsumdissector.com/js/Clients/GWD-000389-FBCA03/gs.js';
            var firstScript = document.getElementsByTagName('script')[0];
            firstScript.parentNode.insertBefore(s, firstScript);
        })();
        // 行业解决方案
        var gSolution = function() {
                if (window.GridsumWebDissector) {
                    _gsq.push(["T", "GWD-000389", "track", "/targetpage/solution"]);
                }
            }
            // 国双在线咨询监控
        var gWPA = function() {
                if (window.GridsumWebDissector) {
                    var _gsTracker = GridsumWebDissector.getTracker('GWD-000389');
                    _gsTracker.track('/targetpage/consulting_qidian');
                }
            }
            // 国双申请体验监控
        var gApply = function() {
                if (window.GridsumWebDissector) {
                    var _gsTracker = GridsumWebDissector.getTracker('GWD-000389');
                    _gsTracker.track('/targetpage/application');
                }
            }
            // 国双在线购买监控  -- 营销
        var gBuy = function() {
                if (window.GridsumWebDissector) {
                    var _gsTracker = GridsumWebDissector.getTracker('GWD-000389');
                    _gsTracker.track('/targetpage/fuwu_buy');
                }
            }
            // 国双在线咨询价格页面
        var gPrice = function() {
            if (window.GridsumWebDissector) {
                _gsq.push(["T", "GWD-000389", "track", "/targetpage/consulting_qidian/price"]);
            }
        }
    </script>
    <!--Gridsum tracking code end. -->
    <!-- sitemonitor tracking code begin -->
    <script type="text/javascript">
        (function() {
            window._CiQ11558 = window._CiQ11558 || [];
            window._CiQ11558.push(['_cookieUseRootDomain', true]);
            var c = document.createElement('script');
            c.type = 'text/javascript';
            c.async = true;
            c.charset = 'utf-8';
            c.src = '//collect.cn.miaozhen.com/ca/11558';
            var h = document.getElementsByTagName('script')[0];
            h.parentNode.insertBefore(c, h);
        })();
    </script>
    <noscript>
    <link href="//collect.cn.miaozhen.com/refer/collect?i=11558&v=13922245942&pu=http%3A//%28NoScriptPageviews%29&pt=NoScriptPageviews&ru=http%3A//%28NoScriptClients%29&csh=1000&csw=1000&css=10" rel="stylesheet" type="text/css" />
    </noscript>
    <!-- sitemonitor tracking code end -->
    <script>
        //定义JavaScript统计函数，报告ID type=1，令按钮点击计数'数量' = 1
        function mztrack(button) {
            window._CiQ11558 = window._CiQ11558 || [];
            window._CiQ11558.push(['_trackEvent', {
                type: 1,
                labels: [{
                    "按钮名称": button
                }],
                values: [{
                    "数量": 1
                }]
            }]);
            //应用立即发送数据方法
            window.CClickiV3 && window.CClickiV3[11558] && window.CClickiV3[11558]._flushObserver(function() {});
        };
    </script>
    <style>
        .spin_selling {
            color: #327ddc;
            text-decoration: underline;
        }
    </style>

</head>

<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KSHXJQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KSHXJQ');
    </script>
    <!-- End Google Tag Manager -->
  @@include('../template/banner.html',{
    "bannerImg":"//bqq.gtimg.com/qdweb/img/banner-price.png?v=20170427",
    "id":"price"
  })
  
    <div class="content">
        <div class="left">
            <p class="title">企点服务</p>
            <ul class="qd-server">
                <li>
                    <p class="type">标准版</p>
                    <p class="price"><span>￥</span>2000</p>
                    <p class="time">/用户/年</p>
                    <div class="button" id="service-standard">咨询标准版</div>
                </li>
                <li>
                    <p class="type">专业版</p>
                    <p class="solution">定制化解决方案</p>
                    <p class="time">详情请联系专业顾问</p>
                    <div class="button button-right" id="service-major">咨询专业版</div>
                </li>
            </ul>
            <div class="details">
                <p>企点服务套餐说明：</p>
                <ul class="details-ul">
                    <li><span class="circle"></span>赠送1个靓号作为您的企业统一对外主号，首次购买时选择的企业主号将无法更改。</li>
                    <li><span class="circle"></span>企点服务标准版最低购买用户数：3个，最低购买期限：1年。</li>
                    <li><span class="circle"></span>企点服务专业版最低购买期限：1年。</li>
                    <li><span class="circle"></span>企点服务标准版一次性购买三年，赠送一年；一次性购买六年及以上，赠送两年。
                        <p>(“买三送一”优惠仅适用于新购/续费，在有效期内增加用户不享受该优惠。)</p>
                    </li>
                    <li><span class="circle"></span>增加用户时，根据到期时间按月计算剩余时间内应付的使用费用。
                        <p>(计算方式为：增加用户费用=每用户年费*增加用户数*有效期剩余月数/10)</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <p class="title">企点分析</p>
            <ul class="qd-analysis">
                <li>
                    <p class="type">标准版</p>
                    <p class="price"><span>￥</span>3600</p>
                    <p class="time">/企业/年</p>
                    <div class="button" id="analyze-standard">咨询标准版</div>
                </li>
                <li>
                    <p class="type">专业版</p>
                    <p class="solution">定制化解决方案</p>
                    <p class="time">详情请联系专业顾问</p>
                    <div class="button button-right" id="analyze-major">咨询专业版</div>
                </li>
            </ul>
            <div class="details">
                <p>企点分析套餐说明：</p>
                <ul class="details-ul">
                    <li><span class="circle"></span>提供3个管理账号。</li>
                    <li><span class="circle"></span>企点分析标准版限制日UV≤10万，超过10万UV部分的数据不予展示。</li>
                    <li><span class="circle"></span>企点分析标准版/专业版最低购买期限：1年。</li>
                    <li><span class="circle"></span>企点分析标准版一次性购买三年，赠送一年；一次性购买六年及以上，赠送两年。</li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!--<div class="fix-bar"><a onclick="gWPA();mztrack('WPA咨询');" id="headWpa" href="javascript:;" title="" class="btn"><img class="pic" src="//bqq.gtimg.com/qdweb/img/bfb-05.png?v=20160919" alt="" width="56" height="39"><span class="tit">在线咨询</span></a><a onclick="gApply();mztrack('申请体验');" href="/application.html" title="" class="btn"><img class="pic" src="//bqq.gtimg.com/qdweb/img/bfb-06.png?v=20160919" alt="" width="56" height="39"><span class="tit">申请体验</span></a>-->
    <!--</div>-->
    <div class="fix-bar">
        <a onclick="gWPA();mztrack('WPA咨询');" id="headWpa" href="javascript:;" title="" class="btn" data-event="callChat"><img class="pic" src="//bqq.gtimg.com/qdweb/img/onlinewpa.png?v=20170710" alt="" width="56" height="39"><span class="tit">QQ咨询</span></a>
        <a onclick="gWPA();mztrack('WPA咨询');" id="pageWpa" href="javascript:;" title="" class="btn"><img class="pic" src="//bqq.gtimg.com/qdweb/img/pagewpa.png?v=20170710" alt="" width="56" height="39"><span class="tit">网页咨询</span></a>

        <a onclick="gApply();mztrack('申请体验');" href="/application.html" title="" class="btn"><img class="pic" src="//bqq.gtimg.com/qdweb/img/applywpa.png?v=20170710" alt="" width="56" height="39"><span class="tit">申请体验</span></a>
    </div>
    <div class="fix-bar2">
        <a onclick="gWPA();mztrack('WPA咨询');" id="mHeadWpa" href="javascript:;" title="" class="fixbtn"><span class="bg">在线咨询</span></a><a onclick="gApply();mztrack('申请体验');" ref="/application.html" title="" ass="fixbtn"><span class="bg bg01">申请体验</span></a>
    </div>
    <footer>
        <div class="container">
            <div class="sublogo">
                <a href="index.html"><img src="//bqq.gtimg.com/qdweb/img/sublogo.png?v=20160919" lazysrc="" width="178" height="40" alt=""></a>
            </div>
            <div class="subbox clearfix">
                <div class="subnav">
                    <ul class="clearfix">
                        <li class="theme">用户中心</li>
                        <li><a href="http://admin.qidian.qq.com/ac/login">账户中心</a></li>
                        <li><a href="https://admin.qidian.qq.com/hp/helpCenter/index">帮助中心</a></li>
                        <li><a href="/news-hyzx.html" title="企点资讯">企点资讯</a></li>
                    </ul>
                </div>
                <div class="subnav">
                    <ul class="clearfix">
                        <li class="theme">联系我们</li>
                        <li><a href="/cor.html">合作洽谈</a></li>
                        <li><a onclick="gWPA();mztrack('在线咨询');" href="javascript:void 0;" id="footerTalkWPA">在线咨询</a>
                            <li><a href="http://support.qq.com/write.shtml?fid=1204&ADPUBNO=">论坛咨询</a></li>
                    </ul>
                </div>
                <div class="subnav">
                    <ul class="clearfix">
                        <li class="theme">服务&保障</li>
                        <li><a id="tel" href="javascript:;">4006-200-200</a></li>
                        <li><a id="serviceWpa" href="javascript:;">售后在线服务</li>
              <li><a id="complainWpa" href="javascript:;" >投诉反馈</a></li>
                    </ul>
                </div>
            </div>
            <p class="copyright"><img src="//bqq.gtimg.com/qdweb/img/ewm.jpg?v=20160919" lazysrc="" width="145" height="145" alt=""></p>
        </div>
        <center>Copyright © 1998 - 2017 Tencent. All Rights Reserved. 腾讯公司 版权所有</center>
    </footer>

    <!-- Baidu code begin. -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?ff8dc0f41713a3c9cfdd53a52a98e279";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- Baidu code end. -->
    <!-- QiDianDA -->
    <script>
        (function(w, a, m) {
            m = '__qq_qidian_da';
            w[m] = a;
            w[a] = w[a] || function() {
                (w[a][m] = w[a][m] || []).push(arguments);
            };
        })(window, 'qidianDA');
        qidianDA('create', '2852129359', '6f4a9d848bb98a915b8ae9622fb82023', {
            mtaId: '500360003'
        });
        qidianDA('set', 't1', new Date());
    </script>
    <script async src="//bqq.gtimg.com/da/i.js"></script>
    <!-- End QiDianDA -->


    <script type="text/javascript" src="http://pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500322886" opts="{&quot;performanceMonitor&quot;:false}"></script>


    <!-- 点击流js接入开始 -->
    <script type="text/javascript" src="https://pingjs.qq.com/tcss.ping.https.js"></script>
    <script>
        if (typeof pgvMain === 'function') {
            pgvMain();
        }
    </script>
    <!-- 点击流js接入结束 -->
    <script src="//bqq.gtimg.com/qdweb/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="//bqq.gtimg.com/qdweb/js/model_header.js" type="text/javascript"></script>
    <script src="//bqq.gtimg.com/qdweb/js/tab.js" type="text/javascript"></script>
    <!-- <script src="../static/js/core.js?v=20161011" type="text/javascript"></script> -->
    <script src="//bqq.gtimg.com/qdweb/js/core.js?v=20161011" type="text/javascript"></script>
    <!-- HTTP劫持监控代码 -->
    <script src="http://imgcache.qq.com/zzapp/widget/hijack/hijack.js"></script>
    <script>
        HijackReport.init({
            whiteReg: /^.*\.(qq\.com|gtimg\.com|gridsumdissector\.com|miaozhen\.com|googletagmanager\.com|baidu\.com|jiathis\.com)$/i //新的正则表达式，一般情况不需要设置这个字段
        });
        //HijackReport.watch();
    </script>
    <!-- 在线投诉wpa -->
    <script>
        // 咨询标准版
    var wpaStandard = ['service-standard','analyze-standard'];
            for (var i = 0; i < wpaStandard.length; i++) {
                var selector = document.getElementById(wpaStandard[i]);
                if (selector && window.__WPA) {
                    __WPA.create({"id":86,"fkfuin":2852058890,"customEle": selector,"fkfext":2852058890,"fkfextname":"\u817e\u8baf\u4f01\u70b9\u76f4\u9500\u56e2\u961f","cate":7,"type":14,"isCorpUin":0,"scene":0,"name":"\u4f01\u70b9\u552e\u540e\u63a5\u5f85\u533f\u540dQQ","createTime":1498055992,"createrUin":2852058890,"createrName":"\u817e\u8baf\u4f01\u70b9\u76f4\u9500\u56e2\u961f","title":"","signature":"","btnText":null,"avatar":"","position":0,"btnBgColor":null,"theme":3,"key":"40b7ba55a262daf5e4c2878e21f85943","roleQQ":{"forid":124,"type":1,"value":1,"name":"\u4f01\u70b9\u552e\u524d\u77ed\u8fde\u63a5\u63a5\u5f85","uin":75,"data":"75","isDisabled":0,"isKfuin":0},"roleIM":{"forid":125,"type":7,"value":1,"name":"\u4f01\u70b9\u552e\u524d\u77ed\u8fde\u63a5\u63a5\u5f85","uin":75,"data":"75","isDisabled":0}});
                }
            }
    //咨询专业版
    var wpaAnalyze = ['service-major','analyze-major'];
            for (var i = 0; i < wpaAnalyze.length; i++) {
                var selector = document.getElementById(wpaAnalyze[i]);
                if (selector && window.__WPA) {
                    __WPA.create({"id":37,"fkfuin":2852150961,"customEle":selector,"fkfext":2852370101,"fkfextname":"KA","cate":1,"type":3,"isCorpUin":1,"scene":0,"name":"\u4e13\u4e1a\u7248\u54a8\u8be2","createTime":1498100368,"createrUin":2852370101,"createrName":"KA","title":"\u5728\u7ebf\u54a8\u8be2","signature":"\u670d\u52a1\u65f6\u95f4 9:00-18:00","btnText":null,"avatar":"\/\/bqq.gtimg.com\/qidian\/src\/sites\/srv\/wpa\/conf\/wpa\/avatar\/2-1.png","position":0,"btnBgColor":null,"theme":0,"key":"08d1f1698567c79d74382abe374656de","roleQQ":{"forid":58,"type":1,"value":1,"name":"QQ\u4e3b\u53f7\u63a5\u5f85\u7ec4","uin":0,"data":"65","isDisabled":0,"isKfuin":1}});
                }
            }
        
    </script>

</body>

</html>
<!--tailTrap<body></body><head></head><html></html>-->