 <header class="header-abs">
      <h1 class="logo"><a href="/index.html" title=""><img src="//bqq.gtimg.com/qdweb/img/logo-price.png?v=20161207" lazysrc="" width="184" height="40" alt=""></a>
      </h1>
      <nav><a href="javascript:void(0);" title="关闭" class="btn-close"></a>
        <ul>
          <li class="h_bt"><a href="./services/index.html" title="功能">功能</a></li>
          <li><a href="/price.html" title="价格">价格</a></li>
          <li><a href="/download.html" title="下载">下载</a></li>
          <li><a data-g="buy" data-m="在线购买" href="https://store.qidian.qq.com" title="在线购买">在线购买</a></li>
          <li><a href="/collection.html" title="行业解决方案" onclick="gSolution()">行业解决方案</a></li>
          <li><a href="/partner.html" title="授权经销商">授权经销商</a></li>
        </ul>
      </nav>
      <div class="tel"><span>咨询热线：<a id="telephoneHead" href="" title=""></a></span></div>
      <div class="mobile-nav"><a href="javascript:void(0);" title="手机端menu" class="mobile-menu"></a><a id="mobileHead" href="" title="" class="mobile-tel"></a></div>
    </header>
  



        <header class="header-abs">
        <h1 class="logo">
            <a href="/index.html" title=""><img src="//bqq.gtimg.com/qdweb/img/logo-price.png?v=20160919" lazysrc="" width="184" height="40" alt=""></a>
        </h1>
        <nav>
            <a href="javascript:void(0);" title="关闭" class="btn-close"></a>
            <ul>
                <li><a href="./services/index.html" title="功能">功能</a></li>
                <li><a href="./price.html" title="价格" class="on">价格</a></li>
                <li><a href="./download.html" title="下载">下载</a></li>
                <li><a data-g="buy" data-m="在线购买" href="https://store.qidian.qq.com" title="在线购买">在线购买</a></li>
                <li><a href="./collection.html" title="行业解决方案" onclick="gSolution()">行业解决方案</a></li>
                <li><a href="/partner.html" title="授权经销商">授权经销商</a></li>
            </ul>
        </nav>
        <div class="tel"><span>咨询热线：<a id="telephoneHead" href="" title="">4600-200-200</a></span></div>
        <div class="mobile-nav">
            <a href="javascript:void(0);" title="手机端menu" class="mobile-menu"></a>
            <a id="mobileHead" href="" title="" class="mobile-tel"></a>
        </div>
    </header>
    @@if(id=="price"){
    <div class="banner-normal3">
        <p class="choose">为您的企业选择最佳购买方案</p>
           <div class="fixed-left">
                      <a class="btn" href="/price.html" title=""><img class="pic" src="//bqq.gtimg.com/qdweb/img/bfb-01.png?v=20160919" lazysrc="" width="25" height="25" alt=""><span class="tit">产品价格</span></a>
                      <a class="btn" href="/download.html" title=""><img class="pic" src="//bqq.gtimg.com/qdweb/img/bfb-02.png?v=20160919" lazysrc="" width="25" height="25" alt=""><span class="tit">产品下载</span></a>
                      <a onclick="gBuy();mztrack('购买-服务');" class="btn" href="https://store.qidian.qq.com" title=""><img class="pic" src="//bqq.gtimg.com/qdweb/img/bfb-03.png?v=20160919" lazysrc="" width="25" height="25" alt=""><span class="tit">在线购买</span></a>
                      <a class="btn" href="/download-file.html" title=""><img class="pic" src="//bqq.gtimg.com/qdweb/img/bfb-04.png?v=20160919" lazysrc="" width="25" height="25" alt=""><span class="tit">产品手册</span></a>
                      <!--<ul class="clearfix ulbox">
                          <li class="mli"><a href="/marketing/index.html" title="" class="ma">企点分析</a></li>
                          <li class="mli"><a href="/services/index.html" title="" class="ma">腾讯企点</a></li>
                          <li class="mli"><a href="/teamwork/index.html" title="" class="ma">企点协同</a></li>
                      </ul>-->
                  </div>
              <div class="banner-pic"><img src="@@bannerImg" alt="" width="1600" height="548"></div>
    </div>
    }
   @@if(id=="index"){
    <div class="banner-index">
      <div class="banner-pic">
        <div class="banner-text">
          <p class="bn-text1">[Social-CRM]</p>
          <p class="bn-text2">连接客户 提升转化</p>
          <p class="bn-text3">中国领先的<span>SaaS</span>级社会化客户关系管理平台</p>
          <a class="sq-tiyan" href="/application.html" onclick="gApply2()" data-type="site-master" data-category="P1" data-action="application-top">申请体验</a>
        </div>
        <a class="voide-start" href="javascript:void(0);"></a>
        <img style="height:504px" src="@@bannerImg" alt="" width="1920" height="504">
      </div>
    </div>
    }
       
     