 <head>
    <script>
    var  GSTS=new Date();
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="//combo.b.qq.com/qidian_store/src/themes/default/fav.ico" type="image/x-icon" />
    <script type="text/javascript">
      function isMobileUserAgent(){
          return (/iphone|ipod|android.*mobile|windows.*phone|blackberry.*mobile/i.test(window.navigator.userAgent.toLowerCase()));
      }
      if(isMobileUserAgent()){
        window.location.href = "http://m.qidian.qq.com" + window.location.pathname + window.location.search;
      }
    </script>
     <title>腾讯企点-中国领先的SaaS级社会化客户关系管理平台</title>
    <meta name="keywords" content="腾讯企点,腾讯企点,企点分析,企点协同">
    <meta name="descriptions" content="腾讯企点产品是什么？腾讯企点整合腾讯社交资源，是帮助企业提升生意转化率的SaaS级社会化客户关系管理平台（Social-CRM）。包含：企点分析，腾讯企点（原营销QQ），企点协同（原企业QQ）三大产品模块。">
    <link type="text/css" href="//bqq.gtimg.com/qdweb/css/main.css?v=20170502" rel="stylesheet" />
    <!-- css本地地址 -->
    <!-- <link type="text/css" href="../static/css/main.css" rel="stylesheet" /> -->
    <style>
    /*顶部小banner*/
    .banner-recruit {
        float: left;
        width: 100%;
        height: 0;
        padding-bottom: 5.625%;
        background: url(//bqq.gtimg.com/qdweb/img/banner_recruit.jpg) 0 0 no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='//bqq.gtimg.com/qdweb/img/banner_recruit.jpg',
    sizingMethod='scale');
    }
    </style>
    <!--[if lt IE 9]>
    <script src="//bqq.gtimg.com/qdweb/js/respond.min.js" type="text/javascript"></script>
    <script src="//bqq.gtimg.com/qdweb/js/html5shiv.min.js" type="text/javascript"></script>
    <link href="//bqq.gtimg.com/qdweb/respond/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
    <link href="/marketing/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" >
    <script type="text/javascript" src="//bqq.gtimg.com/qdweb/respond/respond.proxy.js">
    </script>
    <![endif]-->
    <script src="//wp.qiye.qq.com/loader/4.1.0.js" charset="utf-8"></script>
    
    <!-- SiteMaster 通用代码 -->
    <script>
        !(function(a,b,c,d,e,f){
            var g="",h=a.sessionStorage,i="__admaster_ta_param__",j="tmDataLayer"!==d?"&dl="+d:"";
            if(a[f]={},a[d]=a[d]||[],a[d].push({startTime:+new Date,event:"tm.js"}),h){
                var k=a.location.search,
                    l=new RegExp("[?&]"+i+"=(.*?)(&|#|$)").exec(k)||[];
                l[1]&&h.setItem(i,l[1]),l=h.getItem(i),
                l&&(g="&p="+l+"&t="+ +new Date)
            }
            var m=b.createElement(c),n=b.getElementsByTagName(c)[0];
            m.src="//tag.cdnmaster.cn/tmjs/tm.js?id="+e+j+g,
            m.async=!0,n.parentNode.insertBefore(m,n)
        })(window,document,"script","tmDataLayer","TM-696881","admaster_tm");
    </script>
    
    <!-- Gridsum tracking code begin. -->
    <script type='text/javascript'>
    var _gsq = _gsq || [];
        (function () {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = (location.protocol == 'https:' ? 'https://ssl.' : 'http://static.') + 'gridsumdissector.com/js/Clients/GWD-000389-FBCA03/gs.js';
            var    firstScript = document.getElementsByTagName('script')[0];
            firstScript.parentNode.insertBefore(s, firstScript);
        })();
    // 行业解决方案
    var gSolution = function(){
      if (window.GridsumWebDissector) {
        _gsq.push(["T","GWD-000389","track","/targetpage/solution"]);
      }
    }
    // 国双在线咨询监控
    var gWPA = function () {
        if (window.GridsumWebDissector) {
            var _gsTracker = GridsumWebDissector.getTracker('GWD-000389');
            _gsTracker.track('/targetpage/consulting_qidian');
        }
    }
    // 国双申请体验监控
    var gApply = function () {
        if (window.GridsumWebDissector) {
            var _gsTracker = GridsumWebDissector.getTracker('GWD-000389');
            _gsTracker.track('/targetpage/application');
        }
    }
    // 国双申请体验监控2
    var gApply2 = function () {
        if (window.GridsumWebDissector) {
            _gsq.push(["T","GWD-000389","track","/targetpage/application"+location.pathname]);
        }
    }
    // 国双在线购买监控  -- 服务
    var gBuy = function () {
        if (window.GridsumWebDissector) {
            var _gsTracker = GridsumWebDissector.getTracker('GWD-000389');
            _gsTracker.track('/targetpage/buy');
        }
    }
    </script>
    <!--Gridsum tracking code end. -->
    <!-- sitemonitor tracking code begin -->
    <script type="text/javascript">
    (function() {
        window._CiQ11558 = window._CiQ11558 || [];
        window._CiQ11558.push(['_cookieUseRootDomain', true]);
        var c = document.createElement('script');
        c.type = 'text/javascript';
        c.async = true;
        c.charset = 'utf-8';
        c.src = '//collect.cn.miaozhen.com/ca/11558';
        var h = document.getElementsByTagName('script')[0];
        h.parentNode.insertBefore(c, h);
    })();
    </script>
    <noscript>
    <link href="//collect.cn.miaozhen.com/refer/collect?i=11558&v=13922245942&pu=http%3A//%28NoScriptPageviews%29&pt=NoScriptPageviews&ru=http%3A//%28NoScriptClients%29&csh=1000&csw=1000&css=10" rel="stylesheet" type="text/css" />
    </noscript>
    <!-- sitemonitor tracking code end -->
    <script>
    //定义JavaScript统计函数，报告ID type=1，令按钮点击计数'数量' = 1
    function mztrack(button){
        window._CiQ11558 = window._CiQ11558 || [];
        window._CiQ11558.push(['_trackEvent', {
            type: 1,
            labels: [
                {"按钮名称": button }
            ],
            values: [
                {"数量": 1 }
            ]
        }]);
        //应用立即发送数据方法
        window.CClickiV3 && window.CClickiV3[11558] && window.CClickiV3[11558]._flushObserver(function(){});
    };
    </script>

 </head>